*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}
.container{
    background: #fff;
    padding: 20px,30px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);


}
h1,h2,h3,h4{
    margin: 0 0 10px 0;
    text-align: center;
}
.balance {
    margin-bottom: 20px;
}
.income-expense{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.money{
    font-size: 1.2rem;
    font-weight: bold;
}
.plus{
    color: green;
}
.minus{
    color: red;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="text"], input[type="number"]{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background: #0056b3;
}
.list{
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.list li{
    background: #f9f9f9;
    border-left: 5px solid;
    padding: 10px;
    margin-bottom: 10px ;
    display: flex;
    justify-content: space-between;
}
.list li.plus{
    border-color: green;
}
.list li.minus{
    border-color: red;
}
.delete-btn{
    cursor: pointer;
    color: #888;
    font-weight: bold;
}